body {
  background-color: black;
}
.Tuner {
  text-align: center;
  background: linear-gradient(180deg, #f5faea 0%, #b4dce1 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
  height: 630px;
  width: 420px;
  border-radius: 16px;
  position: absolute;
  margin-left: 33%;
  /* margin-right: auto; */
}

.heading {
  margin-top: 10px;
  font-family: monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.onAudioRight {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #64b936;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  /* top: 15px; */
}
.onAudioWrong {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: #e25757;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  /* top: 15px; */
}
.onAudioRight#cents {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #64b936;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 25px;
}
.onAudioWrong#cents {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #e25757;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 25px;
}
.onAudioInstruction {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #39393d;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: 25px;
}
.onNull {
  font-size: 0px;
}
.guitarImg {
  height: auto;
  width: 300px;
  position: absolute;
  bottom: 0%;
  left: 60px;
}

.outer#E,
.outer#A,
.outer#D {
  padding: 10px;
  background-color: #a7d98c;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  margin-left: -7px;
  /* margin-right: -5px; */
}
.outer#E1,
.outer#B,
.outer#G {
  padding: 10px;
  background-color: #a7d98c;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 25px;
  /* margin-left: -5px; */
  margin-right: -7px;
}

.activeStrings {
  position: relative;
  /* margin: auto; */

  background-color: #64b936;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.strings {
  padding: 10px;
  background-color: ivory;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 30px;
}

#E {
  position: absolute;
  left: 40px;
  top: 440px;
}

#A {
  position: absolute;
  left: 40px;
  top: 380px;
}

#D {
  position: absolute;
  left: 40px;
  top: 320px;
}
#G {
  position: absolute;
  right: 40px;
  top: 320px;
}
#B {
  position: absolute;
  right: 40px;
  top: 380px;
}
#E1 {
  position: absolute;
  right: 40px;
  top: 440px;
}

@keyframes buttons {
  0% {
    background-color: lightgreen;
  }
  50% {
    background-color: rgb(158, 232, 255);
  }
  100% {
    background-color: #fcfcfc;
  }
}

.bars0 {
  position: absolute;
  width: 6px;
  height: 80px;
  top: 225px;
  background: #cecece;
  left: 11 px;
}
.bars1 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 32 px;
}
.bars2 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 53px;
}
.bars3 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 74px;
}
.bars4 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 95x;
}
.bars5 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 116px;
}
.bars6 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 137px;
}
.bars7 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 158px;
}
.bars8 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 179px;
}
.bars9 {
  position: absolute;
  width: 6px;
  height: 80px;
  top: 225px;
  background: #cecece;
  left: 200px;
}
.bars10 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 221px;
}
.bars11 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 242px;
}
.bars12 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 263px;
}
.bars13 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 284px;
}
.bars14 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 305px;
}
.bars15 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 326px;
}
.bars16 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 347px;
}
.bars17 {
  position: absolute;
  width: 6px;
  height: 40px;
  top: 205px;
  background: #cecece;
  left: 368px;
}
.bars18 {
  position: absolute;
  width: 6px;
  height: 80px;
  top: 225px;
  background: #cecece;
  left: 389px;
}
